name: Ubuntu_macOS_readme

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Putting here is also fine!!

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build_ubuntu:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Update apt list
      run: sudo apt-get update
      
    - name: Install dependecies
      run: sudo apt-get install cmake build-essential libeigen3-dev libboost-dev libopencv-dev libglew-dev libboost-filesystem-dev
      
    - name: Try compilation
      working-directory: ${GITHUB_WORKSPACE}/Coursework_03
      run: |
         "./Build.sh"
         
         
  build_mac:
    # The type of runner that the job will run on
    runs-on: macos-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install GitHub CLI
        run: |
          brew update
      - name: Install dependencies
        run: |
          brew install cmake glew pkgconfig freeglut opencv boost eigen suitesparse 

      - name: link opencv
        run: |
          brew link --overwrite opencv
          
      - name: Try compilation
        working-directory: ${GITHUB_WORKSPACE}/Coursework_03
        run: |
          "./Build.sh"
